* {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root{
    --color-home1:#f2f2f7;

    --color-dark1: #100F10;
    --color-dark2: #1B1B1B;
    --color-dark3: #252525;

    --font-color-dark1: rgba(255, 255, 255, 0.96);
    --font-color-dark2: rgba(255, 255, 255, 0.67);
    --font-color-dark3: rgba(255, 255, 255, 0.45);
}

body {
    background-color: var(--color-home1);
    transition: 0.4s;
    max-width: 100vw;
}

body.dark {
    background-color: var(--color-dark1);
}

header{
    width: 100vw;
    height: 8vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-dark3);
}
.home, h1{
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home{
    margin-left: 2rem;
    text-decoration: none;
}
.titlelogo{
    color: var(--font-color-dark1);
}

.nav-itens{
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    gap: 1rem;
}


.icons{
    width: 12vw;
    height: 2vh;
}
.icon-leave{
    width: 2rem;
    height: 3rem;
}

.div-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
}

.switch {
    position: relative;
    width: 3.5rem;
    height: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(215, 215, 228);
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 20px;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #37393f;
}

input:checked+.slider:before {
    left: calc(100% - 1.7rem);
    background: #37393f;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}